<!DOCTYPE html>
<html lang="en">
<title> Geocoder </title>
<head>
  <link href="../static/main.css" rel="stylesheet">
</head>
  <body>
    <div class="container style1">
      <h1>Geocoder - converts addresses into geographic co-ordinates.</h1>
      <h3>Please upload a csv file containing addresses in a column named <em>address</em> or <em>Address</em></h3>
        <form action="{{url_for('success_table')}}" method="POST" enctype="multipart/form-data">
          <input type="file" accept=".csv" name="file" />
          <button type="submit"> Submit </button>
        </form>
      <div class="output">
        {{text|safe}}
      </div>
  </div>
  </body>
</html>
